*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    overflow-x: hidden;
}

:root{
    --color-h5:grey;
    --color-h2:black;
    --color-header:#F7F8F8;
    --color-span:#002F34;
    --color-white:white;
}

.container-9{
    background-color: #EBEEEF;
    border-top: 2px solid #c2c2c2;
}

.container-9 h5{
    font-size: 14px;
    color: var(--color-h2);
    font-weight: 500;
}

.container-9 ul li{
    list-style: none;
    font-size: 12px;
    color: var(--color-h5);
    font-weight: 300;
    margin-top: 5px;
}

.container-9 .icons{
    font-size: 1.5em;
    color: rgb(78, 78, 78);
    margin-right: 5px;
    border: 1px solid gray;
    border-radius: 50%;
    padding: 5px;
}